html,body{width:100%;height:100%}

#video-container {
    width: 100% !important;
    max-width: 100% !important;
    background-color: #000 !important;
    height: calc(100vh - 56px - 20px) !important;
}