.highlight {
	outline: 2px solid blue;
}

.active {
	outline: 2px solid red;
}

.concluido {
	outline: 2px solid green !important;
}

#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.7); /* Fundo levemente transparente */
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.img-thumbnail {
	border: none !important;
}

.fade-overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%);
}